python basic assingment

Q1. Create one variable containing following type of data:

In [2]:
# for string 
name = "vishal baraiya"
print(type(name))

<class 'str'>

In [4]:
# list 
li = [1,2,3,4,"vi","baraiya"]
print(type(li))

<class 'list'>

In [6]:
# float
numfloat = 12.12
print(type(numfloat))

<class 'float'>

In [8]:
# tuple 
tuple1 = (1,2,3,4)
print(type(tuple1))

<class 'tuple'>

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

what will be the datatype of the given variable

(i) string 
(ii) stirng 
(iii) list 
(iv) Integer number

In [13]:
var1 = ''
print(type(var1))

<class 'str'>

In [18]:
var2 = '[ DS , ML , Python]'
print(type(var2))

<class 'str'>

In [19]:
var3 = [ 'bh' , 'ml' , 'bh' ]
print(type(var3))

<class 'list'>

In [21]:
var4 = 1
print(type(var4))

<class 'int'>

Q3. Explain the use of the following operators using an example:

1./

In [24]:
num1 = 10 
num2 = 2
num3 = num1/num2
print(num3)
# used for duvied num1 by num2 using this operator  operation

5.0

2. %

In [28]:
if num1 %2 == 0:
    print("this is a even number ")
else:
    print("this is not even number")

this is a even number

3. //

In [31]:
# its give just integer part after perfotming division operation 
print(3/2)
print(3//2)

1.5
1

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [34]:
list2 = ["vishal","baraiya",[12,12,1,2],1,2,3,34]
print(type(list2))
for i in list2:
    print(i)

<class 'list'>
vishal
baraiya
[12, 12, 1, 2]
1
2
3
34

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [38]:
number = int(input("enter first number"))
number1 = int(input("enter secound number"))
count =0
while(number>0):
    if number % number1 == 0:
        count+=1
    number = number/number1

print(count)

enter first number 10
enter secound number 2

1

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [44]:
list1 = []
for i in range(25):
    list1.append(i)
divisiblelist = []
divisiblenotlist = []
for i in list1:
    if i %3 ==0 :
        divisiblelist.append(i)
    else:
        divisiblenotlist.append(i)
        
print("divisible by 3 list " , divisiblelist)        
print("not divisible by 3 list ", divisiblenotlist)

divisible by 3 list  [0, 3, 6, 9, 12, 15, 18, 21, 24]
not divisible by 3 list  [1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23]

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

mutable mence we are able to modify value of that data ,immutable mence we can not modify the value of the data

list is mutable data type example , and string and tuple are immutable data type exaple

In [46]:
list1 = [1,2,3,4]
print(list1[0])
list1[0]=2
print(list1[0])

1
2

In [48]:
string1 = "vishalbaraiya"
print(string1[0])
string1[0]='n'

v

TypeError: 'str' object does not support item assignment

In [50]:
string1 = "vishalbaraiya"
print(string1)
string1 = "vishal"
print(string1) 
# but use are able to value of that string variable

vishalbaraiya
vishal