Q1. How do you comment code in Python? What are the different types of comments?

there is a two type of methos for comment in python 
1. single line comment 
2. multiline comment

for single line comment we used # keyword 
and multiline comment we used ' ' or  " "

In [3]:
# hello this is a sinle line comment

In [ ]:
 """
This is a multiline comment.
It can be used to explain code
or to provide documentation.
"""

In [13]:
#  multiline comment is also assing into variable 
v =  """
This is a           multiline comment.
It can be used to explain code
or to provide documentation.
"""
print(v)

This is a           multiline comment.
It can be used to explain code
or to provide documentation.

Q2. What are variables in Python? How do you declare and assign values to variables?

String,float,boolean, integer ....

In [16]:
vishal = 123
vishal1 = "vishalname"
vishal2 = 12.3
vishal = True
# using abve code u can assing varible with its value
# u can not declare variable without value in python

Q3. How do you convert one data type to another in Python?

using predefine method in python we can converet one data type into other data type 
int()- is used for conver given data type into integer 
float()-convert into float number 
str()- used to convert in string 
bool()- used to convert in boolean value

In [20]:
name ="123"
print(type(name))

<class 'str'>

In [23]:
print(type(int(name)),name)

<class 'int'> 123

In [27]:
number = 123
print(type(number))
print(type(str(number)))

<class 'int'>
<class 'str'>

In [30]:
boolean = True
print(type(boolean))
boolean1 = int(boolean)
print(type(boolean1))

<class 'bool'>
<class 'int'>

Q4. How do you write and execute a Python script from the command line?

1 create python file in your pc 
2 write code in your pc ...........
3 open command prompt in your pc .........
4 navigate directory .. where file is located ..........
5  filename.py command run on your cmd ...........

.

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [32]:
my_list = [1, 2, 3, 4, 5]
print(my_list[1:3])

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

number = a + bi    this is a complex number and here a and b is a real part and i is imaginary part 
in python we can repreant this number using complex number

In [34]:
number = complex(10,20)
print(number)

(10+20j)

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [1]:
age = 25

print("My age is", age)

My age is 25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [3]:
price = 9.99
# data type is float 
print(type(price))

<class 'float'>

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [5]:
name = "baraiya vishalbhai kanajibhai"
print(name)

baraiya vishalbhai kanajibhai

Q10. Given the string "Hello, World!", extract the substring "World".

In [7]:
string1 = 'Hello, World!'
print(string1[7:len(string1)-1])

World